In [1]:
pressure =[0.23,0.275,0.276,0.289,0.298]

In [2]:
print('the first pressure point', pressure[0])

the first pressure point 0.23

In [3]:
print('the fourth pressure point', pressure[3])

the fourth pressure point 0.289

In [4]:
pressure[0]=0.34
print('new value is', pressure[0])

new value is 0.34

In [5]:
print('our data points of pressure are', pressure)

our data points of pressure are [0.34, 0.275, 0.276, 0.289, 0.298]

In [6]:
list_length=len(pressure)
print(list_length)

5

In [12]:
pressure.append(1.23)
print(pressure)
list_length=len(pressure)
print('the new length of out ist is', list_length)

[0.34, 0.275, 0.276, 0.289, 0.298, 1.23]
the new length of out ist is 6

In [10]:
pressure.pop()

[0.34, 0.275, 0.276, 0.289, 0.298]

In [13]:
print(pressure)

[0.34, 0.275, 0.276, 0.289, 0.298, 1.23]

In [14]:
del pressure[1]
print ('pressure is now', pressure)

pressure is now [0.34, 0.276, 0.289, 0.298, 1.23]

In [25]:
goals=[1,'create list',2,'extract items from list',3,'modify lists']
print(goals)

[1, 'create list', 2, 'extract items from list', 3, 'modify lists']

In [26]:
print (goals[0])
print (goals[1])
print (goals[3])

1
create list
extract items from list

In [17]:
element ='carbon'
print(element)

carbon

In [24]:
print(element[5])

n

In [28]:
print(element[3:])

bon

In [29]:
print(element[-1])

n

In [32]:
my_list='This is quite a long list of characters'
print(my_list)
print(my_list[::4]) #every 4th character

This is quite a long list of characters
T qel t re

In [33]:
#for loops!!!

In [42]:
numbers_list=[1,3,1,8,12]
for number in numbers_list:
    print('my numbers are')
    print(number)
    print(number*2)
print('we are done!')

my numbers are
1
2
my numbers are
3
6
my numbers are
1
2
my numbers are
8
16
my numbers are
12
24
we are done!

In [37]:
print(numbers_list[0])
print(numbers_list[1])
print(numbers_list[2])

1
3
1

In [44]:
for number in range(0,10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [66]:
data=[1,2,3,4,5]
cumulative=[]
my_sum=0
for number in data:
    my_sum+=number  
    cumulative.append(my_sum)
print(cumulative)

[1, 3, 6, 10, 15]

In [54]:

print(data)

[1, 2, 3, 4, 5]

In [48]:
cumulative=[]
print(cumulative)

[]

In [72]:
import pandas
for filename in ['data/gapminder_gdp_africa.csv','data/gapminder_gdp_asia.csv']:
    data=pandas.read_csv(filename, index_col='country')
    print(filename,data.min())

data/gapminder_gdp_africa.csv gdpPercap_1952    298.846212
gdpPercap_1957    335.997115
gdpPercap_1962    355.203227
gdpPercap_1967    412.977514
gdpPercap_1972    464.099504
gdpPercap_1977    502.319733
gdpPercap_1982    462.211415
gdpPercap_1987    389.876185
gdpPercap_1992    410.896824
gdpPercap_1997    312.188423
gdpPercap_2002    241.165877
gdpPercap_2007    277.551859
dtype: float64
data/gapminder_gdp_asia.csv gdpPercap_1952    331.0
gdpPercap_1957    350.0
gdpPercap_1962    388.0
gdpPercap_1967    349.0
gdpPercap_1972    357.0
gdpPercap_1977    371.0
gdpPercap_1982    424.0
gdpPercap_1987    385.0
gdpPercap_1992    347.0
gdpPercap_1997    415.0
gdpPercap_2002    611.0
gdpPercap_2007    944.0
dtype: float64

In [73]:
import glob
print('All the csv files in my data directory', glob.glob('data/*.csv'))

All the csv files in my data directory ['data\\gapminder_all.csv', 'data\\gapminder_gdp_africa.csv', 'data\\gapminder_gdp_americas.csv', 'data\\gapminder_gdp_asia.csv', 'data\\gapminder_gdp_europe.csv', 'data\\gapminder_gdp_oceania.csv']

In [80]:
for filename in glob.glob('data/*.csv'):
    data=pandas.read_csv(filename)
    print(filename,data['gdpPercap_1952'].min())

data\gapminder_all.csv 298.8462121
data\gapminder_gdp_africa.csv 298.8462121
data\gapminder_gdp_americas.csv 1397.717137
data\gapminder_gdp_asia.csv 331.0
data\gapminder_gdp_europe.csv 973.5331948
data\gapminder_gdp_oceania.csv 10039.59564

In [81]:
def print_greeting():
    #print a nice greeting
    print('Hello Dan')

In [83]:
print_greeting()

Hello Dan

In [88]:
def print_date(year,month,day):
    join_string=str(year) +'/'+str(month)+'/'+str(day)
    print(join_string)

In [91]:
print_date(2017,11,8)

2017/11/8

In [94]:
for day in range(1,31):
    print_date(2017,11,day)

2017/11/1
2017/11/2
2017/11/3
2017/11/4
2017/11/5
2017/11/6
2017/11/7
2017/11/8
2017/11/9
2017/11/10
2017/11/11
2017/11/12
2017/11/13
2017/11/14
2017/11/15
2017/11/16
2017/11/17
2017/11/18
2017/11/19
2017/11/20
2017/11/21
2017/11/22
2017/11/23
2017/11/24
2017/11/25
2017/11/26
2017/11/27
2017/11/28
2017/11/29
2017/11/30

In [1]:
def swc_average(values):
    #check that we dont have empty values
    if len(values)==0: #not =#== returns boolean
        return None
    return sum(values)/len(values)

In [4]:
swc_average_value=swc_average([2,3,4,5,6,7,6666])

In [5]:
print(swc_average_value)

956.1428571428571

In [6]:
whos

Variable            Type        Data/Info
-----------------------------------------
swc_average         function    <function swc_average at 0x000001CD339FB598>
swc_average_value   float       956.1428571428571

In [7]:
name='Dan'
def swc_greeting():
    print('Hello',name)

In [8]:
swc_greeting()

Hello Dan

In [14]:
def swc_greeting(name):
    print('Hello',name)

In [15]:
swc_greeting('Dan')

Hello Dan

In [16]:
mass=3.54
if mass>3.0:
    print(mass,'is large')

3.54 is large

In [17]:
print(mass)

3.54

In [20]:
mass=[3.54,2.07,9.22,1.86,1.71]
for item in mass:
    if item>3.0:
        print(item,'is large')

3.54 is large
9.22 is large

In [23]:
for item in mass:
    if item>3.0:
        print(item,'is large')
    else:
        print(item,'is small')

3.54 is large
2.07 is small
9.22 is large
1.86 is small
1.71 is small

In [25]:
for item in mass:
    if item>9.0:
        print(item,'is huge')
    elif item>3.0:
        print(item,'is large')
    else:
        print(item,'is small')

3.54 is large
2.07 is small
9.22 is huge
1.86 is small
1.71 is small

In [34]:
elifmass=[3.54, 2.07, 9.22, 1.86, 1.71]
velocity=[10.00,20.00,30.00,25.00,20.00]
i_iter=0
for i_iter in range(5):
    if mass[i_iter]>5 and velocity[i_iter]>20:
        print("Fast and heavy object. Duck !!")
    elif mass[i_iter]>2 and mass[i_iter]<=5 and velocity[i_iter]<=20:
        print("normal traffic!")
    elif mass[i_iter]<=2 and velocity[i_iter]<=20:
        print("Slow light object. ignore it")
    else:
        print("whoa!something is up with the data. Check it!")

normal traffic!
normal traffic!
Fast and heavy object. Duck !!
whoa!something is up with the data. Check it!
Slow light object. ignore it

In [27]:
range(5)

range(0, 5)

In [37]:
def calculate_life_quartile(exp):
    """This function finds the life expectancy quartile input:exp is the life expectancy in years"""
    if exp<58.41:
        #This observation is in the first quartile
        return 1
    elif exp>=58.41 and exp<67.07:
        #This observation is in the second quartile
        return 2
    elif exp>=67.05 and exp <71.70:
        #This observation is in the third quartile
        return 3
    elif exp>=71.70:
        #This observation is in the fourth quartile
        return 4
    else:
        #we have bad data
        return None

In [44]:
calculate_life_quartile(-3)

1

In [45]:
import pandas as pd

In [57]:
data=pd.read_csv('data/gapminder_all.csv')
data['life_qrtl']=data['lifeExp_1987'].apply(calculate_life_quartile)

In [64]:
print(data['life_qrtl'],data['lifeExp_1987'])

0      2
1      1
2      1
3      2
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     2
15     1
16     1
17     1
18     2
19     1
20     1
21     1
22     1
23     2
24     1
25     1
26     2
27     1
28     1
29     1
      ..
112    4
113    3
114    3
115    3
116    3
117    4
118    4
119    4
120    4
121    4
122    3
123    4
124    4
125    4
126    4
127    4
128    4
129    3
130    4
131    3
132    3
133    3
134    4
135    4
136    4
137    4
138    2
139    4
140    4
141    4
Name: life_qrtl, Length: 142, dtype: int64 0      65.799
1      39.906
2      52.337
3      63.622
4      49.557
5      48.211
6      54.985
7      50.485
8      51.051
9      54.926
10     47.412
11     57.470
12     54.655
13     50.040
14     59.797
15     45.664
16     46.453
17     46.684
18     60.190
19     49.265
20     55.729
21     45.552
22     41.245
23     59.339
24     57.180
25     46.027
26     66.234
27     49.350
28     47.457
29     46.364
        ...
112    75.350
113    71.140
114    71.340
115    71.520
116    71.580
117    74.800
118    74.830
119    76.340
120    74.847
121    76.670
122    69.580
123    77.230
124    74.360
125    76.420
126    74.865
127    76.830
128    75.890
129    70.980
130    74.060
131    69.530
132    71.218
133    71.080
134    72.250
135    76.900
136    77.190
137    77.410
138    63.108
139    75.007
140    76.320
141    74.320
Name: lifeExp_1987, Length: 142, dtype: float64